<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847757642270-jmrs2vkst1l8mtar1i5gj093s00mo0cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847757642270-jmrs2vkst1l8mtar1i5gj093s00mo0cg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>847757642270-acl21i6uchr8edsrqj0u3g5hk7p6eiks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXpVZyxOS6KUqSmYpArDe0qWJN_PfuwoM</string>
	<key>GCM_SENDER_ID</key>
	<string>847757642270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>health.mirror.mirrorhealth</string>
	<key>PROJECT_ID</key>
	<string>mirror-health-a9d04</string>
	<key>STORAGE_BUCKET</key>
	<string>mirror-health-a9d04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847757642270:ios:1443feb868526692eefc0f</string>
</dict>
</plist>